{% extends 'base.html.twig' %}

{% block title %}Mon Cv{% endblock %}

{% block main %}

    <div class="page-content">
        <div class="title-cv rounded-0 page-content-title">
            <div class="
                d-flex
                flex-fill
                flex-column
                justify-content-center
                align-items-center
                pt-5
                pb-5"
            >
                <h1 class="text-danger">GUILLAUME CAVALIE</h1>
                <h2>Développeur Web PHP / Symfony (Junior) </h2>
            </div>
        </div>
        <div class="left-panel">
            <div class="
                d-flex
                flex-column
                ml-3 mr-3 mt-0 p-3
                all-blocks"
            >
                {# Section DATA Start: dedicated for pass DATA between twig and vuejs #}
                <div ref="lines" data-lines="{{ lines }}"></div>
                {# Section End DATA #}
                {{ include("/components/_block_contact.html.twig", {'title': 'CONTACT'}) }}
                {{ include("/components/_block_profil.html.twig", {'title': 'PROFIL'}) }}
                {{ include("/components/_block_softskills.html.twig", {'title': 'SOFT SKILLS'}) }}
                {{ include("/components/_block_interet.html.twig", {'title': 'INTERETS'}) }}
                {{ include("/components/_block_langues.html.twig", {'title': 'LANGUES'}) }}
                {{ include("/components/_block_console.html.twig") }}
            </div>
        </div>
        <div class="
        right-panel
        mt-2 p-3 bg-white page-content-central-panel">
            <div class="all-blocks">
                <div class="">
                    {{ include('/components/_block_experiences.html.twig', {'title': 'EXPERIENCES'}) }}
                </div>
                <div class="">
                    {{ include('/components/_block_competence.html.twig', {'title': 'COMPETENCES'}) }}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
