{% extends 'base.html.twig' %}

{% block title %}Editer l'expérience{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

        <div class="container cust-form-edit">

            <h1>Editer l'expérience</h1>
            <div>
                {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
            </div>


            {{ include('task/_delete_form.html.twig') }}
        </div>
    <div class="d-flex flex-column justify-content-between">
        <a href="{{ path('task_new') }}">Create new</a>
        <a href="{{ path('admin_task') }}">Retour a la liste des taches ( admin )</a>
        <a href="{{ path('home_index') }}">Retour au Cv</a>
    </div>


{% endblock %}
