{% extends 'base.html.twig' %}

{% block title %}Edit Skill{% endblock %}

{% block body %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="container cust-form-edit">
    <h1>Modifier la competence</h1>
    {{ include('skill/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('skill/_delete_form.html.twig') }}
    <div class="d-flex flex-column justify-content-between">
        <a href="{{ path('skill_new') }}">Create new</a>
        <a href="{{ path('admin_skill') }}">Retour a la liste des taches ( admin )</a>
        <a href="{{ path('home_index') }}">Retour au Cv</a>
    </div>
    </div>
{% endblock %}
