<div class="first-block d-flex flex-column m-2 block-shadow block-background-motif">
    <div class="d-inline-flex ml-2 mt-2 border-bottom cust-radius-top">
        <h2><strong>{{ title|default('CONTACT') }}</strong></h2>
    </div>
    <div class="d-inline-flex block-list">
        {% if user %}
            <ul class="ml-4 ml-lg-3 mt-2 list-unstyled">
                <li class="d-flex align-content-center flex-nowrap">
                        <div class="icon">
                            {{ include('components/_icon_user.html.twig') }}
                        </div>
                        <div class="text">
                            {{ user.age }} ans, {{ user.nbChild }} enfant(s)
                        </div>
                </li>
                <li class="d-flex">
                    <div class="icon">
                        {{ include('components/icons/_icon_address.html.twig') }}
                    </div>
                    <div class="text">
                        {{ user.addressStreetNumber }}  {{ user.addressStreet }} {{ user.AddressCity }}
                    </div>
                </li>
                <li class="d-flex">
                        <div class="icon">
                            {{ include('components/icons/_icon_phone.html.twig') }}
                        </div>
                        <div class="text">
                            {{ user.mobile }}
                        </div>
                </li>
                <li class="d-flex ">
                    <div class="icon">
                        {{ include('components/icons/_icon_mailbox.html.twig') }}
                    </div>
                    <div class="text">
                        {{ user.email }}
                    </div>
                </li>
                <li class="d-flex">
                    <div class="icon">
                        {{ include('components/icons/_icon_linkedin.html.twig') }}
                    </div>
                    <div class="text link d-flex ">
                        {% set url = "https://www.linkedin.com/in/lyon-gca" %}
                        <a class="align-self-center" href={{ url }}>likedIn</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <p>Connectez vous pour accéder aux informations</p>
        {% endif %}
    </div>
</div>

