<div class="d-flex flex-fill flex-column shadow m-2 rounded shadow">
    <div class="d-inline-flex ml-5 border-bottom cust-radius-top">
        <h2>{{ title|default('Save') }}</h2>
    </div>
    <div class="d-inline-flex">
        {% if user %}
        <ul class="ml-5 mt-3">
            <li class="ml-5">
                <p> {{ user.firstName }} {{ user.lastName }}</p>
            </li>
            <li class="ml-5">
                <p>{{ user.age }} ans,  {{ user.nbChild }} enfant(s)</p>
            </li>
            <li class="ml-5">
                <p>Tél. : {{ user.mobile }} </p>
            </li>
            <li class="ml-5">
                <p>email : {{ user.email }}</p>
            </li>
            <li class="ml-5">
                <p>linkedin :</p>
            </li>
        </ul>
        {% else %}
            <p>Connectez vous pour acceder aux informations</p>
        {% endif %}
    </div>
</div>
