<div class="d-flex flex-fill flex-column shadow m-2 rounded shadow">
    <div class="d-inline-flex ml-5 border-bottom cust-radius-top">
        <h2>{{ title|default('') }}</h2>
    </div>
    <div class="d-flex justify-content-md-around flex-column align-items-left flex-fill">
        {% if app.user %}
            {% for mission in user.missions %}
                <ul class="ml-3 mt-3">
                    <li>
                        <h3> Du {{ mission.dateStart|date("m/Y") }} au {{ mission.dateEnd|date("m/Y") }}
                            <strong>{{ mission.title }}</strong> ( {{ mission.establishmentDepartmentNb }} )</h3>
                        <div>
                        {% for task in mission.tasks %}
                            <div class="d-flex flex-row justify-content-start">
                                <p>{{ task.name }} :
                                    {% for skill in task.skills %}
                                    {% if not loop.first %}
                                        /
                                    {% endif %} {{ skill.name }}
                                    {% else %}
                                <p>Pas de compétences affectée</p>
                                {% endfor %}

                                </p>
                                <a class="ml-1" data-toggle="tooltip" data-placement="right"
                                   title="Modifier les compétences {{ task.name }}"
                                   href="{{ path("app_logout") }}">
                                    {{ include('components/_icon_edit.html.twig') }} </a>
                            </div>
                        {% endfor %}
                        </div>
                        <a href="{{ mission.linkEstablishment }}">Visit webSite</a>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>!! Connectez vous pour afficher les informations !!</p>
        {% endif %}
    </div>
</div>
